<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/weather.png">
    </head>


    <body>
        <div class="main-content">
            {{>header}}
            <p>The information on this site have been provided by<br>
            Mapbox and WeatherStack API.</p>
            <img class = "portrait" src = "/robot.png">
        </div>
        
        {{>footer}}
    </body>




</html>